---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v1/2024-01-01?base=USD&symbols=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"amount":1.0,"base":"USD","date":"2024-01-01","rates":{"GBP":0.78548}}'
  recorded_at: Wed, 04 Mar 2026 12:00:00 GMT
recorded_with: VCR 6.3.1
