---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v1/2024-01-01..2024-07-31?base=USD&symbols=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"amount":1.0,"base":"USD","start_date":"2024-01-01","end_date":"2024-07-31","rates":{"2024-01-01":{"GBP":0.785225},"2024-01-02":{"GBP":0.786126},"2024-01-03":{"GBP":0.78659},"2024-01-04":{"GBP":0.786787},"2024-01-05":{"GBP":0.786099},"2024-01-08":{"GBP":0.785411},"2024-01-09":{"GBP":0.784527},"2024-01-10":{"GBP":0.785259},"2024-01-11":{"GBP":0.785461},"2024-01-12":{"GBP":0.785877},"2024-01-15":{"GBP":0.784918},"2024-01-16":{"GBP":0.785858},"2024-01-17":{"GBP":0.786523},"2024-01-18":{"GBP":0.785948},"2024-01-19":{"GBP":0.785312},"2024-01-22":{"GBP":0.784679},"2024-01-23":{"GBP":0.784287},"2024-01-24[...]
